{% load static %}

<h2>Contact</h2>
<form role="form" action="" method="post" class="form">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-container">
        <div class="form-container-info">
          <div>
              <label>Name:</label>
            {{ form.name.errors }}

            {{ form.name }}
          </div>
          <div>
              <label>Email:</label>

              {{ form.email.errors }}

              {{ form.email }}
          </div>
          <div>
              <label>Title:</label>
              {{ form.title.errors }}

              {{ form.title }}
          </div>


        </div>
        <div class="form-container-message">
            <label>Message:</label>
            {{ form.description.errors }}

            {{ form.description }}
        </div>

    </div>
    <div class="button-container">
      <button type="submit">Enviar</button>
    </div>
</form>
<footer class="footer">
  <div class="footer-container">
    <a href="mailto: jorge@sarkis.dev"><img style="height: 80px" src="{% static 'images/email.png' %}"></a>
    <a href="https://wa.me/09893309600"><img style="height: 80px" src="{% static 'images/whats.png' %}"></a>
    <a href="https://www.linkedin.com/in/jorge-saicoski/"><img style="height: 80px" src="{% static 'images/linkedin.png' %}"></a>
  </div>
</footer>