{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Sarkis.Dev</title>
</head>
<body>
    {% include 'website/navbar.html' %}
    <section class="hero" id="home">
        <div class="content">
            <h2>SARKIS.DEV</h2>
            <div class="content-media">
                <a href="mailto: jorge@sarkis.dev">jorge@sarkis.com <img style="height: 80px" src="{% static 'images/email.png' %}"></a>
                <a href="https://wa.me/09893309600">(+598)93-309-600 <img style="height: 80px" src="{% static 'images/whats.png' %}"></a>
                <a href="https://www.linkedin.com/in/jorge-saicoski/">LinkedIn <img style="height: 80px" src="{% static 'images/linkedin.png' %}"></a>
            </div>
        </div>
        <div class="waves"></div>

    </section>
    <div class="title">
      <h2>Projects</h2>
    </div>
    {% include 'website/projects.html' %}
    <div class="title">
      <h2>Skills</h2>
    </div>
    {% include 'website/skills.html' %}
    <div class="title">
      <h2>Services</h2>
    </div>
    {% include 'website/services.html' %}
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/services.js' %}"></script>
</body>
</html>