{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Sarkis.Dev</title>
</head>
<body>
    {% include 'website/navbar.html' %}
    <section class="hero">
        <div class="content">
            <h2>Hero Header</h2>
            <p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non</p>
        </div>
        <div class="waves"></div>
    </section>
    <div class="title">
      <h2>Projects</h2>
    </div>
    {% include 'website/projects.html' %}
    <div class="title">
      <h2>Skills</h2>
    </div>
    {% include 'website/skills.html' %}
    <div class="title">
      <h2>Services</h2>
    </div>
    {% include 'website/services.html' %}
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/services.js' %}"></script>

</body>
</html>