{% load static %}
<nav id="navbar">
  <ul>
    <a href="{% url 'home' %}#home">
      <li>
          home
          <span></span><span></span><span></span><span></span>
      </li>
    </a>
    <a href="{% url 'projects' %}">
      <li>
          projects
          <span></span><span></span><span></span><span></span>
      </li>
    </a>
    <a href="{% url 'skills' %}">
      <li>
          skills
          <span></span><span></span><span></span><span></span>
      </li>
    </a>
    <a href="{% url 'home' %}#service">
      <li>
          service
          <span></span><span></span><span></span><span></span>
      </li>
    </a>
    <a href="{% url 'contact' %}">
      <li>
          contact
          <span></span><span></span><span></span><span></span>
      </li>
    </a>
  </ul>
  <div class="logo">
      <button id="menu-navbar"><img src="{% static 'images/menu.png' %}" ></button>
      <button id="close-navbar"><img src="{% static 'images/close.png' %}" alt=""></button>
  </div>
</nav>
