{% load static %}
<nav>
  <ul>
    <li>
      home
      <span></span><span></span><span></span><span></span>
    </li>
    <li>
      projects
      <span></span><span></span><span></span><span></span>
    </li>
    <li>
      skills
      <span></span><span></span><span></span><span></span>
    </li>
    <li>
      services
      <span></span><span></span><span></span><span></span>
    </li>
    <li>
      contact
      <span></span><span></span><span></span><span></span>
    </li>
  </ul>
  <div class="logo">
    <div></div>
    <button></button>
  </div>
</nav>
