{% load static %}
<section>
  <ul id="projects">
    {% for project in projects %}
    <li class="project" >
      <h4>{{project.name}}</h4>
      <img src="{{project.image.url}}" alt="{{project.name}}">
      <div class="project-text">
        <p>{{project.description}}</p>
        <div class="project-text-skill">
          <p>Skills:</p>
          {% for skill in project.get_skills %}
           <p>{{skill.name}}</p>
          {% endfor %}
        </div>
      </div>
      <span><a class="project-text" href="/project/{{project.name}}"></a></span>
    </li>
    {% endfor %}
  </ul>
</section>