{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>{{project.name}}</title>
</head>
<body>
    {% include 'website/navbar.html' %}
    <div class="title-page">
        <h3>{{project.name}}</h3>
        <div class="title-page-itens">
        {% for skill in skills %}
           <p>{{skill.name}}</p>
        {% endfor %}
        </div>
    </div>
    <div class="body-page">
        <div class="body-page-left">
            <p>{{project.description}}</p>
        </div>
        <div class="body-page-rigth">
            {% for service in sub_services %}
            <div class="service">
                <p class="service-actived">{{service.name}}</p>
                <p class="service-deactived">{{service.description}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
</body>
</html>