{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>{{project.name}}</title>
</head>
<body>
    {% include 'website/navbar.html' %}
    <section class="title-page">
        <h3>{{project.name}}</h3>
        <div class="title-page-itens">
        {% for skill in skills %}
           <p>{{skill.name}}</p>
        {% endfor %}
        </div>
    </section>
    <section id="links">
        <h3>Links:</h3>
        {% if project.link %}
        <a href="{{project.link}}">Web Site</a>
        {% endif %}
        {% if project.github %}
        <a href="{{project.github}}">Github</a>
        {% endif %}
    </section>
    <section class="body-page">
        <div class="body-page-left">
            <p>Goals:</p>
            <p>{{project.goal}}</p>
        </div>
        <div class="body-page-rigth">
            <h5>Skills:</h5>
            {% for service in sub_services %}
            <div class="service">
                <p class="service-actived">{{service.name}}</p>
                <p class="service-deactived">{{service.description}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="body-page-down">
            <p>Description:</p>
            <p>{{project.description}}</p>
        </div>
    </section>
    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
</body>
</html>