{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Sarkis.Dev</title>
</head>
<body>
    {% include 'website/navbar.html' %}
    <div class="search">
        <input type="text" id="searchBar" onkeyup="searchBar()" placeholder="What are you searching?" title="Type in a name">
    </div>
    <table id="listToSearch">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Skills</th>
        </tr>
      {% for project in projects %}
        <tr>
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
            <td>
                {% for skill in project.get_skills %}
                {{skill.name}}
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'project' project.name %}">VIEW</a>
            </td>
        </tr>
      {% endfor %}
    </table>

    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>


</body>
</html>