@media screen and (max-width: 1200px) {
  .navbar-active {
    width: 300px;
    height: 100vh;
    margin: 0 !important;
    background-color: #2A1A1F;
    position: fixed;
    left: 0;
    top: 0;
  }
  .navbar-active ul {
    width: 100%;
    height: 80%;
    top: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    position: absolute;
  }
  .navbar-active ul a {
    height: auto !important;
    width: auto !important;
  }
  .navbar-active ul li {
    position: relative;
  }
  .navbar-active ul li:nth-child(1) {
    transition-delay: 0.1s;
    left: 0%;
  }
  .navbar-active ul li:nth-child(2) {
    transition-delay: 0.2s;
    left: 0%;
  }
  .navbar-active ul li:nth-child(3) {
    transition-delay: 0.3s;
    left: 0%;
  }
  .navbar-active ul li:nth-child(4) {
    transition-delay: 0.4s;
    left: 0%;
  }
}

nav {
  background-color: #2A1A1F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: 1s;
}
nav a {
  color: #FFBA08;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
nav a:hover {
  color: black;
}
@media screen and (max-width: 1200px) {
  nav {
    width: 150px;
    height: 150px;
    overflow: hidden;
    background: none;
    margin: 15px;
    flex-direction: column-reverse;
  }
}
nav .logo {
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0;
  transition: 1s;
}
@media screen and (max-width: 1200px) {
  nav .logo {
    width: 150px;
    height: 150px;
    position: relative;
    top: 15px;
    left: 0;
  }
}
nav .logo button {
  width: 85px;
  border-radius: 100%;
  height: 85px;
  background-color: aquamarine;
}
@media screen and (max-width: 1200px) {
  nav .logo button {
    width: 150px;
    height: 150px;
  }
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1em 0;
}
@media screen and (max-width: 1200px) {
  nav ul {
    width: 0%;
    height: 0%;
    opacity: 0;
    position: absolute;
  }
}
nav ul li {
  background-color: #764134;
  font-size: 16px;
  border: 2px solid #FFBA08;
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin-right: 1em;
}
@media screen and (max-width: 1200px) {
  nav ul li {
    position: relative;
    left: -300%;
  }
}
nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #1AC8ED;
  transform: translateY(150%);
  border-radius: 50%;
  left: 0%;
  transition: 0.5s;
  transition-delay: 0s;
  z-index: -1;
}
nav ul li span:nth-child(2) {
  left: 50%;
  transform: translateY(-150%);
}
nav ul li span:nth-child(4) {
  left: 100%;
  transform: translateY(-150%);
}
nav ul li:hover span {
  transform: translateY(0) scale(1.5);
}
nav ul li:hover span:nth-child(1) {
  transition-delay: 0.1s;
  left: 0%;
}
nav ul li:hover span:nth-child(2) {
  transition-delay: 0.2s;
  left: 25%;
}
nav ul li:hover span:nth-child(3) {
  transition-delay: 0.3s;
  left: 50%;
}
nav ul li:hover span:nth-child(4) {
  transition-delay: 0.4s;
  left: 75%;
}

.categories {
  display: flex;
  flex-direction: row;
  height: 700px;
}
.categories .card {
  width: 200px;
  height: 300px;
  margin-left: 200px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 40px 2px rgba(0, 0, 0, 0.4);
  background: #2A1A1F;
  transform-origin: center center 0px;
  transition: all 0.5s ease-out;
  animation-name: animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
  z-index: 1;
}
.categories .card:hover {
  animation: unset;
  margin-top: 18vh;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.categories .card .card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 100%;
  color: white;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5vw;
}
#projects .project, #projects .project img {
  position: relative;
  background-color: #2A1A1F;
  width: 350px;
  height: 450px;
  border-radius: 10%;
  overflow: hidden;
  text-align: center;
  color: white;
  padding-top: 1em;
  transition: 1s;
  margin: 10px 35px 0 0;
}
#projects .project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
#projects .project-text-skill {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 1em;
  transition-delay: 1.25s;
  transition-duration: 0.25s;
}
#projects .project-text-skill p {
  margin-left: 3px;
}
#projects .project span {
  position: absolute;
  bottom: 0%;
  left: -300%;
  height: 600%;
  transition: 0.5s linear;
  width: 1000%;
  opacity: 0.45;
  background: linear-gradient(53deg, #764134 40%, rgb(113, 110, 11) 42.5%, rgb(121, 118, 9) 43.5%, rgba(0, 0, 36, 0) 44.5%);
}
#projects .project span:hover {
  bottom: -475%;
  left: -235%;
}
#projects .project img {
  border-radius: 0;
  transition: 1s;
  margin: 0;
}
#projects .project:hover img, #projects .project img:hover img {
  height: 0;
  width: 0;
}
#projects .project:hover .project-text-skill, #projects .project img:hover .project-text-skill {
  background-color: #1AC8ED;
}

.title {
  height: auto;
  font-size: 2.5rem;
  text-transform: uppercase;
  background: skyblue;
  border-bottom: 2px solid deepskyblue;
  border-top: 2px solid deepskyblue;
  border-radius: 10px;
  margin: 0 10% 0 15px;
  padding: 0.5em;
  color: black;
}
.title-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.title-page h3 {
  font-size: 3em;
}
.title-page-itens {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.title-page-itens p {
  padding: 3px 0;
  width: 100px;
  background-color: #2A1A1F;
  border-radius: 10px;
  text-align: center;
  margin-left: 15px;
  color: white;
  border: 2px #764134 solid;
}
.title-page-itens p:hover {
  border-color: #2A1A1F;
  background-color: #1AC8ED;
}

#skills {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1em 0;
}
#skills .skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  height: 3em;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
#skills .skill-card-text {
  z-index: 1;
  width: 95%;
  height: 85%;
  background-color: #2A1A1F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#skills .skill-card span {
  position: absolute;
  width: 150%;
  height: 500%;
  background: linear-gradient(90deg, #2A1A1F 35%, #FFBA08 47.5%, #FFBA08 50%, #FFBA08 55.5%, #2A1A1F 65%);
  transform: rotate(65deg);
}
#skills .skill-card:hover span {
  animation-name: spin;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

#links {
  background-color: #764134;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1em;
  margin-top: 50px;
}
#links h3 {
  width: 100%;
  text-align: left;
  margin: 7.5px 0;
}
#links a {
  padding: 5px;
  background-color: #FFBA08;
  border-radius: 5px;
  margin-right: 15px;
}
#links a:hover {
  background-color: #1AC8ED;
}
#links a:visited {
  background-color: #2A1A1F;
  color: white;
}
#links a:visited:hover {
  background-color: #1AC8ED;
  color: black;
}

.body-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2em 0;
}
.body-page-left {
  text-align: justify;
  background-color: #2A1A1F;
  color: white;
  border-radius: 0 10px 0 2px;
  padding: 1em;
  margin: 1vw;
  min-width: 55%;
  border: 2px #3185FC solid;
}
.body-page-rigth {
  display: flex;
  padding: 1em;
  margin: 1vw;
  border-radius: 2px 0 0 15px;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 35%;
  background-color: #3185FC;
  border: 2px #2A1A1F solid;
}
.body-page-rigth .service {
  padding: 3px 0;
  background-color: #2A1A1F;
  border-radius: 10px;
  text-align: center;
  margin: 15px auto;
  color: white;
  border: 2px #764134 solid;
  overflow: hidden;
  transition: 1s;
  min-width: 150px;
  width: auto;
}
.body-page-rigth .service:hover {
  border-color: #2A1A1F;
  background-color: #1AC8ED;
}
.body-page-rigth .service-actived {
  transition: 0.5s;
  padding: 1em;
  text-align: justify;
}
.body-page-rigth .service-deactived {
  transition: 0.5s;
  width: 0px;
  height: 0px;
  opacity: 0;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.body-page-down {
  width: 100%;
  padding: 1em;
  margin: 1vw;
  background-color: #3185FC;
  border: 2px #2A1A1F solid;
  border-radius: 10px;
}

#listToSearch {
  border-radius: 5px;
  font-size: 12px;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  background-color: white;
}
#listToSearch td, #listToSearch th {
  text-align: center;
  padding: 8px;
}
#listToSearch td {
  border-right: 1px solid #f8f8f8;
  border-bottom: 1px solid black;
  font-size: 12px;
}
#listToSearch th {
  color: #ffffff;
  background: #4FC3A1;
}
#listToSearch th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}
#listToSearch .select {
  background-color: #1AC8ED;
  border: 2px solid #FFBA08;
}

#search {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin: 30px 10px;
  padding: 2vw;
}
#search:hover input, #search:hover p {
  background-color: #764134;
}
#searchBar, #search .search-text {
  min-width: 500px;
  width: 50%;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 2px solid black;
}
#searchBar:focus, #search .search-text:focus {
  background-color: lightblue;
}
#search .search-text {
  min-width: auto;
  width: auto;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  position: relative;
  background: #2A1A1F;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero h2 {
  position: relative;
  z-index: 1;
  font-size: 4.5rem;
  margin: 0 0 10px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
}

.hero p {
  position: relative;
  z-index: 1;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px;
  background-color: #3185FC;
  transition: 1s;
}

.waves::before, .waves::after {
  content: "";
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 40%;
  background: deepskyblue;
  animation: waves 20s linear infinite;
}

.waves::after {
  border-radius: 35%;
  background: #2A1A1F;
  animation: waves 18s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(65deg);
  }
  to {
    transform: rotate(1145deg);
  }
}
@keyframes animate {
  0% {
    margin-top: 20vh;
  }
  50% {
    margin-top: 18vh;
  }
  100% {
    margin-top: 20vh;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  background: #3185FC;
  min-height: 100vh;
  margin-top: 117px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=main.css.map */
