.navbar-active{
    @media screen and (max-width: 1200px){
        width: 300px;
        height: 100vh;
        margin: 0!important;
        background-color: $dark-color;
        position: fixed;
        left: 0;
        top: 0;
        & ul{
            width: 100%;
            height: 80%;
            top: 0;
            opacity: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 10px auto;
            position: absolute;
            & a{
                height: auto!important;
                width: auto!important;
            }
            & li{
                position: relative;
                &:nth-child(1) {
                        transition-delay: 0.1s;
                        left: 0%;
                    }

                    &:nth-child(2) {
                        transition-delay: 0.2s;
                        left: 0%;
                    }

                    &:nth-child(3) {
                        transition-delay: 0.3s;
                        left: 0%;
                    }

                    &:nth-child(4) {
                        transition-delay: 0.4s;
                        left: 0%;
                    }
            }
        }
    }
}
nav{
    background-color: $dark-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 25;
    transition: 1s;
    & a{
        color: $alert-color;
        text-decoration: none;
        width: 100%;
        height: 100%;
        &:hover{
            color: black;
        }
    }
    @media screen and (max-width: 1200px){
        width: 150px;
        height: 150px;
        overflow: hidden;
        background: none;
        margin: 15px;
        flex-direction: column-reverse;
    }
    & .logo {
        display: flex;
        width: 25%;
        justify-content: space-around;
        align-items: center;
        margin: 1em 0;
        transition: 1s;
        @media screen and (max-width: 1200px){
            width: 150px;
            height: 150px;
            position: relative;
            top: 15px;
            left: 0;
        }
        & button {
            width: 85px;
            border-radius: 100%;
            height: 85px;
            background-color: aquamarine;
            @media screen and (max-width: 1200px){
                width: 150px;
                height: 150px;
            }
        }
    }

    & ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 1em 0;
        @media screen and (max-width: 1200px){
            width: 0%;
            height: 0%;
            opacity: 0;
            position: absolute;
        }
        & li {
            background-color: $second-color;
            font-size: 16px;
            border: 2px solid $alert-color;
            border-radius: 0.5em;
            width: 12em;
            height: 3em;
            text-transform: uppercase;
            font-weight: bold;
            font-family: sans-serif;
            letter-spacing: 0.1em;
            text-align: center;
            line-height: 3em;
            position: relative;
            overflow: hidden;
            z-index: 1;
            transition: 0.5s;
            margin-right: 1em;
            @media screen and (max-width: 1200px){
                position: relative;
                left:-300%;
            }
            & span {
                position: absolute;
                width: 25%;
                height: 100%;
                background-color: $select-color;
                transform: translateY(150%);
                border-radius: 50%;
                left: 0%;
                transition: 0.5s;
                transition-delay: 0s;
                z-index: -1;
                &:nth-child(2) {
                    left: 50%;
                    transform: translateY(-150%);
                }

                &:nth-child(4) {
                    left: 100%;
                    transform: translateY(-150%);
                }
            }
            &:hover {
                & span {
                    transform: translateY(0) scale(1.5);

                    &:nth-child(1) {
                        transition-delay: 0.1s;
                        left: 0%;
                    }

                    &:nth-child(2) {
                        transition-delay: 0.2s;
                        left: 25%;
                    }

                    &:nth-child(3) {
                        transition-delay: 0.3s;
                        left: 50%;
                    }

                    &:nth-child(4) {
                        transition-delay: 0.4s;
                        left: 75%;
                    }
                }
            }
        }
    }
}


#projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5vw;
    & .project{
        position: relative;
        background-color: $dark-color;
        width: 350px;
        height: 450px;
        border-radius: 10%;
        overflow: hidden;
        text-align: center;
        color:white;
        padding-top: 1em;
        transition: 1s;
        margin: 10px 35px 0 0;
        &-text{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            &-skill{
                display: flex;
                flex-direction: row;
                justify-content: left;
                padding: 1em;
                transition-delay: 1.25s;
                transition-duration: 0.25s;
                & p{
                    margin-left: 3px;
                }
            }
        }
        & span{
            position: absolute;
            bottom: 0%;
            left: -300%;
            height: 600%;
            transition: 0.5s linear;
            width: 1000%;
            opacity: 0.45;
            background: linear-gradient(53deg, $second-color 40%, rgba(113,110,11,1) 42.5%, rgba(121,118,9,1) 43.5%, rgba(0,0,36,0) 44.5%);
            &:hover{
                bottom: -475%;
                left: -235%;
            }
        }
        & img{
            @extend .project;
            border-radius: 0;
            transition: 1s;
            margin: 0;
        }
        &:hover{
            & img{
                height: 0;
                width: 0;
            }
            & .project-text-skill{
                background-color: $select-color;
            }
        }
    }
}


#background{
    position: fixed;
    left: 1;
    top: 1;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
.title {
    height: auto;
    font-size: 2.5rem;
    text-transform: uppercase;
    background: skyblue;
    border-bottom: 2px solid deepskyblue;
    border-top: 2px solid deepskyblue;
    border-radius: 10px;
    margin: 0 10% 0 15px;
    padding: 0.5em;
    color: black;
    &:hover{
        & h2{
            letter-spacing: 0!important;
        }
    }
    &-page{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 25px;
        @media screen and (max-width: 1200px){
            margin-top: 150px;
        }
        & h3{
            font-size: 3em;
        }
        &-itens{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            & p{
                padding: 3px 0;
                width: 100px;
                background-color: $dark-color;
                border-radius: 10px;
                text-align: center;
                margin-left: 15px;
                color: white;
                border: 2px $second-color solid;
                &:hover{
                    border-color: $dark-color;
                    background-color:  $select-color;
                }
            }
        }
    }

}

#skills{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1em 0;
    & .skill-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 35px;
        height: 3em;
        width: 150px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        &-text{
            z-index: 1;
            width: 95%;
            height: 85%;
            background-color: $dark-color;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
        }
        & span{
            position: absolute;
            width: 150%;
            height: 500%;
            background: linear-gradient(90deg, $dark-color 35% ,$alert-color 47.5%, $alert-color 50%, $alert-color 55.5%, $dark-color 65%);
            transform:rotate(65deg);
        }
        &:hover{
            & span{
                animation-name: spin;
                animation-duration: 14s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-out;
            }
        }
    }
}

#links{
    background-color: $second-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1em;
    margin-top: 50px;
    h3{
        width: 100%;
        text-align: left;
        margin: 7.5px 0;
    }
    a{
        padding: 5px;
        background-color: $alert-color;
        border-radius: 5px;
        margin-right: 15px;
        &:hover{
            background-color: $select-color;
        }
        &:visited {
            background-color: $dark-color;
            color: white;
            &:hover{
                background-color: $select-color;
                color: black;
            }
        }
    }
}

.body-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2em 0;
    align-items: center;
    &-description{
        margin: 2vw;
        padding: 15px;
        background: rgb(0, 0 , 0, 0.5);
        color: white;
        border-radius: 10px 15px 0 0;
        & p{
            text-align: justify;
            margin-top: 2.5vh;
        }
    }
    &-contact{
        margin: 10px auto;
        position: relative;
        width: 275px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        border-radius: 15px;
        border: 2px solid $alert-color;
        & a{
            text-align: center;
            font-size: 24px;
            z-index: 1;
            width: 260px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            color: white;
            border: 2px solid $alert-color;
        }
        & span{
            position: absolute;
            top:-300%;
            left:-150%;
            width: 400%;
            height: 800%;
            background: linear-gradient(90deg,  $dark-color 25%, $alert-color 80%, $alert-color 88%, );
            transform:rotate(65deg);
            animation-name: spin;
            animation-duration: 25s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        &:hover{
            background-color: $select-color;
            & span{
                opacity: 0;
            }
            & a{
                background-color: $alert-color;
            }
        }

    }
    &-sub-services{
        margin: 2vw;
        padding: 15px;
        background: rgb(0, 0 , 0, 0.5);
        color: white;
        border-radius: 10px 0 15px 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
        & h5{
            width: 100%;
        }
        & .sub-service{
            margin: 2vw;
            background: none;
            border: 2px solid $dark-color;
            min-width: 250px;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 15px;
            background: rgb(0, 0 , 0, 0.5);
            &-name{
                width: 100%;
                background-color: $alert-color;
                text-align: center;
                padding: 15px 0;
                border-radius: 15px 15px 15px 0;
            }
            &-description{
                padding: 15px
            }
            &-detail{
                padding: 15px;
                background-color: $dark-color;
                border-radius: 0 0 15px 15px;
            }
        }
    }
    &-left{
        text-align: justify;
        background-color: $dark-color;
        color: white;
        border-radius: 0 10px 0 2px;
        padding: 1em;
        margin: 1vw;
        min-width: 55%;
        border: 2px $base-color solid;
        @media screen and (max-width: 1200px){
            width: 85vw;
        }
    }
    &-rigth{
        display: flex;
        padding: 1em;
        margin: 1vw;
        border-radius: 2px 0 0 15px;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        max-width: 35%;
        background-color: $base-color;
        border: 2px $dark-color solid;
        & h5{
            width: 100%;
        }
       	@media screen and (max-width: 1200px){
            max-width: 100%;
            width: 85vw;
        }
        & .service{
            padding: 3px 0;
            background-color: $dark-color;
            border-radius: 10px;
            text-align: center;
            margin: 15px auto;
            color: white;
            border: 2px $second-color solid;
            overflow: hidden;
            transition: 1s;
            min-width: 150px;
            width: auto;
            &:hover{
                border-color: $dark-color;
                background-color:  $select-color;
            }
            &-actived{
                transition: 0.5s;
                padding: 1em;
                text-align: justify;
            }
            &-deactived{
                transition: 0.5s;
                width: 0px;
                height: 0px;
                opacity: 0;
                animation-name: spin;
                animation-duration: 3s;
                animation-iteration-count: 1;
                animation-timing-function: ease-out;
            }
        }
    }
    &-down{
        width: 100%;
        padding: 1em;
        margin: 1vw;
        background-color: $base-color;
        border: 2px $dark-color solid;
        border-radius: 10px;
    }
}

#listToSearch{
    border-radius: 5px;
    font-size: 12px;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
    & td, th{
        text-align: center;
        padding: 8px;
    }
    & td{
        border-right: 1px solid #f8f8f8;
        border-bottom: 1px solid black;
        font-size: 12px;
    }
    & th{
        color: #ffffff;
        background: #4FC3A1;
        &:nth-child(odd) {
            color: #ffffff;
            background: #324960;
        }
    }
    & .select{
        background-color: #1AC8ED;
        border: 2px solid $alert-color;

    }
}

#search{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    margin:30px 10px;
    padding: 2vw;
    @media screen and (max-width: 1200px){
		margin-top: 150px;
    }
    &:hover{
        & input, p {
            background-color: $second-color;
        }
    }
    &Bar{
        min-width: 500px;
        width: 50%;
        padding: 10px;
        background: none;
        border: none;
        border-bottom: 2px solid black;
        &:focus{
            background-color: lightblue;
        }
    }
    & .search-text{
        @extend #searchBar;
        min-width: auto;
        width: auto;
    }
}


#service{
    overflow: hidden;
    width: 80vw;
    padding: 2vh 5vh 2vw;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    & .categories{
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 5vh;
        & button{
            width: 150px;
            margin: 2px;
            background-color: $alert-color;
            border: 2px solid $select-color;
            border-radius: 10px;
            font-size: 24px;
            color: $dark-color;
            &:hover{
                background-color: $select-color;
                border: 2px solid $dark-color;
                cursor: pointer;
                color: white;
            }
        }
    }
    & .services{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        min-height: 100vh;
        & .service{
            width: 350px;
            height: 500px;
            margin: 0 20px 20px 0;
            background-color: $dark-color;
            transition: 0.3s;
            padding: 5px;
            border-radius: 30px;
            border-width: 5px 2.5px;
            border-color: $alert-color;
            border-style: solid;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            text-align: justify;
            & span{
                margin: 20px 2px 5px 0;
                height: 0;
                width: 100%;
                border-bottom: 2px solid $second-color;
            }
        }
    }
}

.hidden{
    transform: translateX(5000px);
    width: 0 !important;
    height: 0 !important;
}


.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
    position: relative;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    & h2 {
          position: relative;
          z-index: 1;
          font-size: 4.5rem;
          margin: 0 0 10px;
          color: rgba(255, 255, 255, 0.9);
    }
    & p{
        position: relative;
        z-index: 1;
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.5);
        line-height: 1.4;
    }
    & .content{
        position: absolute;
        top:25%;
        left: 0;
        min-width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
        a {
            display: flex;
            height: 100px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 15px;
            color: white;
            background-color: rgb(51, 146, 212, 0.5);
            padding: 10px;
            border-radius: 10px;
            &:hover{
                background-color: $select-color;
            }
        }
    }
}

#contact-thanks{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $select-color;
    opacity: 0.9;
}
.contact-thanks-content{
    top: 50%;
    left: 20vw;
    position: fixed;
    width: 50vw;
    height: auto;
    background-color: $alert-color;
    color: white;
    opacity: 1.5;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 51;
    font-size: 2em;
    border-radius: 10px;
}
.form{
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &-container{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 20%;
    @media screen and (max-width: 1200px){
      flex-direction: column;
    }

    & input{
      width: 100%;
      background-color: inherit;
      border: 2px solid $dark-color;
      border-style: none none solid none;
      height: 100%;
      padding: 5px;
      &:hover{
        background-color: white;
        cursor: text;
      }
    }
    & textarea{
      width: 100%;
      border: 2px solid $dark-color;;
      border-radius: 10px;
      height: 100%;
      background-color: inherit;
      &:hover{
        background-color: white;
        cursor: text;
      }
    }
    &-info{
      width: 33%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: 1200px){
        width: 100%;
        margin-bottom: 15px;
      }
    }
    &-message{
      width: 65%;
      height: 100%;
      min-height: 20vh;
      @media screen and (max-width: 1200px){
        width: 100%;
      }
    }
  }
}
.button-container{
    margin: 0 auto;
    & button{
        background-color: $alert-color;
        padding: 15px;
        font-size: 24px;
        color: $dark-color;
        border-radius: 30px;
        border-width: 3px 6px;
        border-color: $select-color;
        border-style: solid;
        width: 200px;
        transition: border 5s;
        &:hover{
            background-color: $select-color;
            border-color: $alert-color;
            color: white;
            cursor: pointer;
        }
    }
}


.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    background-color: $base-color;
    transition: 1s;
}

.waves::before, .waves::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);
    box-shadow: 2px 0 5px 0 $dark-color;
}

.waves::before {
    border-radius: 40%;
    background: linear-gradient(270deg, $select-color 0%, $base-color 50%, $dark-color 100%);
    animation: waves 30s linear infinite reverse;
    z-index: 0;
    opacity: 0.5;
}

.waves::after {
    border-radius: 35%;
    background:  linear-gradient(270deg, $dark-color 35%, $second-color 50%, $alert-color 100%);
    animation: waves 60s linear infinite;
    z-index: 2;
    opacity: 0.8;
}

@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
        height: 300vw;
        opacity: 0.2;
    }

    45%{
        transform: translate(-50%, -85%) rotate(180deg);
        height: 290vw;
        opacity: 0.5;
    }
    75% {
        transform: translate(-50%, -75%) rotate(275deg);
        height: 300vw;
        opacity: 0.8;
    }


    100% {
        transform: translate(-50%, -75%) rotate(360deg);
        height: 300vw;
        opacity: 0.2;
    }
}

@keyframes spin{
    from {transform:rotate(65deg);}
    to {transform:rotate(1145deg);}
}





